.navbar{
    text-align: center;
}

.navbar a{
    color: black; /* Text color */
    text-align: center;
    padding: 14px 16px; /* Padding for each link */
    text-decoration: none;
    font-family: sans-serif;
}


.header{
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    size: 10px;
}

.about{
    font-family: sans-serif;
}